<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <h1><a href="./"><img src="favicon-firebase.png">Error <%=error.code%></a></h1>
        <hr/>
        <p><%=error.message%></p>
        <h3><a href="./">Back to main</a></h3>
    </body>
</html>
